/* $bg: #2d3a4b;
676767
303030
bf2134
d63246
b95561 */

.tag_title {
  font-size: 1.5rem;
  border: 0;
  margin-bottom: 1rem;
  color: #d63246;
  background-color: #eee;
}

.tab_pane_btn {
  font-size: 1rem;
  /* margin-bottom: 2rem; */
}


/* .el-menu-item.is-active {
  background-color: #d63246 !important;
}

.el-menu-item:hover {
  background-color: #d63246 !important;
}

.el-menu-item:active {
  background-color: #d63246 !important;
} */

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.el-breadcrumb {
  margin-bottom: 1rem;
}

.f_wrap {
  flex-wrap: wrap;
}

.f_column {
  flex-direction: column;
}

.jc_around {
  justify-content: space-around;
}

.w50 {
  width: 50%;
}

.of_hidden {
  overflow: hidden;
}

.color_danger {
  color: #F56C6C;
}

.color_primary {
  color: #d63246;
}

.color_info {
  color: #606266;
}

.color_white {
  color: #fff;
}

.fw_bold {
  font-weight: bold;
}

.fs16 {
  font-size: 16px;
}

.border0 {
  border: 0 none;
}


/* .bg-primary {
  background-color: #d23246;
} */
